body {
  margin: 0;
  background-image: url(../img/assets/background.jpg);
}

@media (max-width: 767px) {
  .summon-circle-container {
    width: 458px;
  }
  .summon-circle {
    width: 458px;
    height: 458px;
  }
  #custom-banner-select-list {
    height: 30vh;
  }
  #custom-banner-heroes {
    height: calc(30vh + 46px);
  }
}
@media (min-width: 768px) {
  .summon-circle-container {
    width: 600px;
  }
  .summon-circle {
    width: 600px;
    height: 600px;
  }
  #custom-banner-select-list {
    height: 40vh;
  }
  #custom-banner-heroes {
    height: calc(40vh + 46px);
  }
  .md-text-small {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .summon-circle-container {
    width: 468px;
  }
  .summon-circle {
    width: 468px;
    height: 468px;
  }
  #customize-hero-container {
    height: 916px;
    overflow-y: auto;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}
@media (min-width: 1600px) {
  .container.container-s {
    max-width: 1300px;
  }
  .container {
    max-width: 1500px;
  }
}

.btn:not(:disabled) {
  cursor: pointer;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.custom-checkbox,
.custom-radio {
  cursor: pointer;
}
.col-form-label,
.form-check > label {
  white-space: nowrap;
}
.col-form-label-2-line,
.form-check > .col-form-label-2-line {
  white-space: normal;
  word-wrap: normal;
  height: 38px;
  text-align: right;
  border-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 17px;
}
.form-check {
  height: 38px;
  padding-top: 3px;
}

/***** Summon Simulator *****/
.focus-list-hero {
  width: 80px;
  height: 80px;
  margin: 5px;
  position: relative;
}
.focus-list-hero-frame {
  width: 80px;
  position: absolute;
  z-index: 2;
}
.focus-list-hero-portrait {
  width: 75px;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 3px;
}
.focus-list-hero-background {
  width: 80px;
  position: absolute;
  z-index: 0;
}

.summon-circle-container {
  border: none;
  height: fit-content;
}
.summon-circle {
  background-image: url(../img/assets/summon-circle.jpg);
  background-size: cover;
  position: relative;
}
.summon-option {
  position: absolute;
  width: 30%;
  height: 30%;
}
.summon-option:nth-child(1) {
  top: 8%;
  left: 34%;
}
.summon-option:nth-child(2) {
  top: 27.5%;
  left: 60%;
}
.summon-option:nth-child(3) {
  top: 57%;
  left: 51%;
}
.summon-option:nth-child(4) {
  top: 57%;
  left: 18%;
}
.summon-option:nth-child(5) {
  top: 27.5%;
  left: 8.5%;
}
.summon-orb {
  width: 100%;
  height: 100%;
  opacity: 0.75;
  cursor: url(../img/assets/breidablik.png), pointer;
}
.summon-orb:hover {
  opacity: 1;
}

.summon-hero {
  position: relative;
  top: 20%;
  left: 20%;
  height: 60%;
}
.summon-hero-frame {
  position: absolute;
  width: 60%;
  z-index: 3;
}
.summon-hero-portrait {
  position: absolute;
  width: 54%;
  z-index: 2;
  top: 5%;
  left: 4%;
}
.summon-hero-background {
  position: absolute;
  width: 60%;
  z-index: 1;
}
.summon-hero-rarity {
  position: absolute;
  width: 60%;
  z-index: 4;
  top: 80%;
}

.input-group.rate-input {
    width: 50%;
}
.input-group.rate-input > .input-group-addon:nth-child(1) {
  background-color: white;
}
.input-group.rate-input > .input-group-addon:nth-child(3) {
  background-color: white;
  padding-left: 0;
}
.input-group.rate-input > input {
  border-right: none;
  border-left: none;
  text-align: right;
}
.input-group.rate-input > input:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #ced4da;
  border-right: none;
  border-left: none;
}
.input-group.rate-input > input::-webkit-outer-spin-button,
.input-group.rate-input > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.summon-stats {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
}
.summon-stats:hover {
  background-color: rgba(0,0,0,.075);
}

#summon-table_wrapper,
#summon-table_wrapper > div > div {
  padding: 0;
}
.hide-3 .r-3,
.hide-4 .r-4,
.hide-5 .r-5,
.hide-focus .r-focus,
.hide-focus-4 .r-focus-4 {
  display: none;
}

#custom-banner-modal {
  margin-top: 5vh;
}
#custom-banner-select-list {
  overflow-y: auto;
}
#custom-banner-select-list > label {
  width: 100%;
  cursor: pointer;
}
#custom-banner-select-list > label:hover {
  background-color: rgba(0,0,0,.075);
}
#custom-banner-select-list .custom-control-indicator {
  top: 0.75rem;
  left: 0.5rem;
}
#custom-banner-select-list .custom-control.custom-checkbox {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#custom-banner-heroes {
  overflow-y: auto;
  align-content: flex-start;
  flex-direction: row;
}


/***** Unit Builder *****/
.hero-canvas-container {
  width: 540px;
  background-color: transparent;
}
.hero-canvas-container > .spinner {
  position: absolute;
  margin-left: calc(50% - 50px);
  margin-top: 300px;
}
#hero-canvas {
  width: 540px;
  height: 960px;
}
.col-form-label > img {
  width: 24px;
}

#download-img {
  position: absolute;
  right: 0;
  margin-top: 6px;
  margin-right: 6px;
  width: 50px;
  height: 38px;
}
#download-img img {
  width: 26px;
}

.skill-info-icon {
  width: 20px;
  height: 20px;
  background-color: #b0bec5;
  color: white;
  margin-top: 8px;
  line-height: 1.5;
  border-radius: 50%;
  margin-left: 4px;
  font-size: small;
  text-align: center;
}
.skill-info-icon::after {
  content: "i";
}
.skill-info-icon:hover {
  background-color: #607d8b;
}
.skill-info {
  color: #777777;
}
.skill-info > p {
  margin-bottom: 0.5rem;
}
.skill-cost > span {
  display: inline-block;
  margin-right: 50px;
}
.skill-header {
  width: 80px;
}

.opt-half {
  display: inline-block;
  width: 50%;
}

.stat-input-groups .input-group-addon:not(.readonly) {
  background-color: white;
}
.stat-input-groups > .input-group > input {
  border-left: none;
  text-align: right;
}

.customize-header {
  width: 80px;
}

/***** Selectable *****/
.selectable > .dropdown-toggle {
  background-color: #ffffff;
  height: 38px;
}
.selectable > .dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 16px;
}
.selectable .dropdown-toggle[disabled] {
  background-color: #eee;
}
.row > .selectable > .dropdown-toggle::after {
  position: absolute;
  right: 24px;
  top: 16px;
}
.selectable .dropdown-menu {
  width: calc(100% - 30px);
}
.selectable .dropdown-header {
  /* color: #ffffff;
  background-color: #b0bec5 */
}
.selectable .dropdown-item {
  cursor: pointer;
}
.selectable .btn-outline-secondary {
    border: 1px solid #ced4da;
}
/***** Misc *****/
.spinner {
  text-align: center;
}
.spinner > span {
  font-size: 2rem;
  display: block;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
