<div class="modal fade" id="summon-pool-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Summoning Pool</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pb-2">
          <button class="btn btn-sm btn-default w-100 text-left" data-toggle="collapse" data-target="#pool-list-5f">5★ Focus</button>
          <div class="collapse show" id="pool-list-5f"></div>
        </div>
        <div class="pb-2">
          <button class="btn btn-sm btn-default w-100 text-left" data-toggle="collapse" data-target="#pool-list-5">5★</button>
          <div class="collapse show" id="pool-list-5"></div>
        </div>
        <div class="pb-2">
          <button class="btn btn-sm btn-default w-100 text-left" data-toggle="collapse" data-target="#pool-list-4">4★</button>
          <div class="collapse show" id="pool-list-4"></div>
        </div>
        <div class="pb-2">
          <button class="btn btn-sm btn-default w-100 text-left" data-toggle="collapse" data-target="#pool-list-3">3★</button>
          <div class="collapse show" id="pool-list-3"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" type="button" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
