<table id="tier-table" class="table table-bordered m-0">
  <thead>
    <tr>
      <th class="rating">Rating</th>
      <th><img src="../img/assets/icon/red-sword.png"></th>
      <th><img src="../img/assets/icon/red-tome.png"></th>
      <th><img src="../img/assets/icon/red-breath.png"></th>
      <th><img src="../img/assets/icon/blue-lance.png"></th>
      <th><img src="../img/assets/icon/blue-tome.png"></th>
      <th><img src="../img/assets/icon/blue-breath.png"></th>
      <th><img src="../img/assets/icon/green-axe.png"></th>
      <th><img src="../img/assets/icon/green-tome.png"></th>
      <th><img src="../img/assets/icon/green-breath.png"></th>
      <th><img src="../img/assets/icon/neutral-bow.png"></th>
      <th><img src="../img/assets/icon/neutral-dagger.png"></th>
      <th><img src="../img/assets/icon/neutral-staff.png"></th>
      <th><img src="../img/assets/icon/neutral-breath.png"></th>
    </tr>
  </thead>
  <tbody id="tier-table-body"></tbody>
</table>