{% from "../macros/header.html" import header %}

<!DOCTYPE html>
<html>
<head>
  <title>FEH Summon Simulator</title>
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/datatables.min.css">
  <link rel="stylesheet" href="../css/feh-stuff.css">
</head>
<body>
  {{ header("summon-simulator", "container-s") }}

  <div class="container container-s">
    <div class="row mt-2">
      <div id="select-banner" class="selectable col p-0 mr-2"></div>
      <div id="custom-banner" class="btn btn-primary" data-toggle="modal" data-target="#custom-banner-modal">Custom Banner</div>
    </div>

    <div class="row mt-2 card">
      <div class="card-header p-2 d-flex justify-content-between">
        <h6 class="pt-1 mb-0">Focus Heroes</h6>
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#summon-pool-modal">Summoning Pool</button>
      </div>
      <div id="focus-list" class="d-flex justify-content-center flex-wrap"></div>
    </div>

    <div class="row mt-2 justify-content-center">
      {% include '../partials/summon-circle.html' %}
      <div class="w-100 d-lg-none"></div>
      {% include '../partials/summon-simulator-details.html' %}
    </div>
  </div>

  {% include '../partials/custom-banner-modal.html' %}
  {% include '../partials/summon-pool-modal.html' %}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="../js/common/datatables.min.js"></script>
  <script src="../js/common/selectable.js"></script>
  <script src="./app.js" charset="utf-8"></script>
  <!-- <script src="../js/misc/lyn-helper.js" charset="utf-8"></script> -->
</body>
</html>
