{% from "../macros/header.html" import header %}

<!DOCTYPE html>
<html>
<head>
  <title>FEH Unit Builder</title>
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/datatables.min.css">
  <link rel="stylesheet" href="../css/feh-stuff.css">
</head>
<body>
  {{ header("unit-builder") }}

  <div class="container">
    <div class="row mt-2 justify-content-center">
      {% include '../partials/unit-builder-image.html' %}

      <div class="w-100 d-lg-none"></div>

      <div class="card col mb-2 p-0">
        {% include '../partials/unit-builder-tabs.html' %}

        <div class="card-body tab-content md-text-small" id="customize-hero-container">
          {% include '../partials/unit-builder-tab-default.html' %}
          {% include '../partials/unit-builder-tab-custom.html' %}
        </div>
      </div>
    </div>
  </div>

  {% include '../partials/bookmark-modal.html' %}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="../js/common/datatables.min.js"></script>
  <script src="../js/common/selectable.js"></script>
  <script src="./app.js" charset="utf-8"></script>
  <script src="../js/misc/lyn-helper.js" charset="utf-8"></script>
</body>
</html>
