{% macro skillSelect(type, image) %}
<div class="row mb-3">
  <label class="col-2 col-form-label text-md-right" title="{{type}}">
    <img src="../img/assets/icon/{{image}}.png">
  </label>
  <div class="col-9 selectable skill-select" data-skill="{{type}}" id="select-{{type}}"></div>
  <div class="col-1 pl-0">
    <div class="skill-info-icon d-none" data-skill="{{type}}"></div>
  </div>
</div>
{% endmacro %}

{% macro buffSelect(label, info, type, id) %}
<div class="row mb-3 form-check">
  <label class="col-2 col-lg-3 mr-3 text-md-right" title="{{info}}">{{label}}</label>
  <label class="custom-control custom-radio">
    <input id="{{id}}-yes" name="{{type}}" type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Yes</span>
  </label>
  <label class="custom-control custom-radio">
    <input id="{{id}}-no" name="{{type}}" type="radio" class="custom-control-input" checked>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">No</span>
  </label>
</div>
{% endmacro %}

{% macro buffInput(label, type, class, id='', widthClass='col-lg-4') %}
<div class="row mb-3">
  <label class="col-2 col-lg-3 col-form-label text-md-right">{{label}}</label>
  <div class="col-9 selectable {{widthClass}} {{class}}" id="{{id}}" data-stat="{{type}}"></div>
</div>
{% endmacro %}
